body{
    background-color: #f5f5f5;
    font-family: 'Fira Sans';
    color: #0e0e0e;
}

html{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between; 
    padding: 0px 160px;
    align-items: center;
    margin: 20px 0px;
}

.logo{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}

.signin{
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.signin:hover{
    background-color: rgb(0, 106, 80);
    color: #f5f5f5;
}



