/* General */
body{
    background-color: #f5f5f5;
    font-family: 'Fira Sans';
    color: #0e0e0e;
}

html{
    padding: 0;
    margin: 0;
}

/* NAVBAR */
.navbar{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between; 
    padding: 0px 160px;
    align-items: center;
    margin: 20px 0px;
}

.logo{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}

.signin{
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.signin:hover{
    background-color: rgb(0, 106, 80);
    color: #f5f5f5;
}

button{
    transition: 0.25s;
}

button:hover{
    opacity: .7;
}

/* Banner */
section{
    margin-top: 80px;
    padding: 0 160px;
}


.banner-section{
    margin-top: 0;
}

.banner{
    margin-top: 0;
    padding: 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title{
    
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-button{
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}



/* Pillars */
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0px;
    gap: 24px;
}

.card{
    width: 230px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.card-heading{
    font-size: 40px;
}


/* vision */
